.about-container {
    display: flex;
    flex-flow: row wrap;
    height: 30%;
    width: 100%;
    font-family: 'League Spartan', sans-serif;
}
.about-first {
    float: left;
}
.about-first img {
    /* height: 100%; */
}


.about-second {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 30%;
    min-width: 20%;
    background-color: white;
    padding: 0em 4em;
    line-height: 1.25em;
}
#about-second-header {
    color: black;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-size: 1.5em;
}
#about-second-body {
    color: hsl(0, 0%, 63%);
    font-size: 1.25em;
}


.about-third {
    float: right;
}
.about-third img {
    /* height: 100%; */
}