.about-container {
    display: flex;
    flex-flow: row nowrap;
    height: 34.5vh;
    width: 100%;
    font-family: 'League Spartan', sans-serif;
}
.about-first {
    /* height: 100%; */
    width: 100%;
}
.about-first img {
    height: 100%;
    width: auto;
    float: bottom;
}


.about-second {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: white;
    padding: 0em 2em;
    line-height: 1.25em;
}
#about-second-header {
    color: black;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-size: 1.25em;
}
#about-second-body {
    color: hsl(0, 0%, 63%);
    font-size: 1.00em;
}


.about-third {
    /* height: 100%; */
    width: 100%;
}
.about-third img {
    height: 100%;
    width: auto;
    float: bottom;
}