.about-container {
    display: flex;
    flex-flow: row nowrap;
    height: 35%;
    min-height: 265px;
    width: 100%;
    font-family: 'League Spartan', sans-serif;
    overflow: hidden;
}
.about-first {
    /* width: 100%; */
}
.about-first img {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}


.about-second {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    min-width: 450px;
    height: 100%;
    background-color: white;
    padding: 0 3.55em;
    line-height: 1.5em;
}
#about-second-header {
    color: black;
    font-weight: 700;
    letter-spacing: 0.3em;
    font-size: 1.25em;
}
#about-second-body {
    color: hsl(0, 0%, 63%);
    font-size: 1.00em;
}


.about-third {
    /* width: 100%; */
}
.about-third img {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}