
.navbar-container {
    position: absolute;
    height: 6em;
    width: 100%;
    background-color: transparent;
    font-family: 'League Spartan', sans-serif;;
}
.navbar-sub {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    color: white;
}

/* nav sidebar dropdown button */
.toggle-button {
    display: none;
}
.nav-menu-coll {
    display: none;
}

.navbar-brand {
    display: flex;
    width: 5em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
}
.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}
.nav-menu-items {
    display: flex;
    width: 20em;
    justify-content: space-evenly;
}
.nav-menu-items a {
    padding: 0.5em 0;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}
.nav-menu-items a:hover {
    border-color: white;
}


@media (max-width: 961px) {
    .nav-menu {
        display: none;
    }
    .toggle-button {
        display: flex;
    }
    .nav-menu-coll {
        display: flex;
        background-color: white;
        height: 6em;
        width: 100vw;
        z-index: 9;
    }
    .nav-menu-items-coll {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 1.5em;
        color: black;
    }
    .nav-menu-items-coll a {
        margin-left: 1.5em;
        padding: 0.5em 0;
        border-bottom: 1px solid transparent;
        transition: all ease-in-out 0.2s;
        cursor: pointer;
    }
    .nav-menu-items-coll a:hover {
        border-color: black;
    }
    .toggle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%; 
        width: 75px;
        margin-left: auto;
        z-index: 10;
    }
    .toggle-button button {
        border: none;
        height: 40px;
        width: 40px;
        background-color: transparent;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
        color: white;
    }
    .toggle-button button:hover {
        transition: border 0.2s ease-in-out;
    }
    .toggle-button-btn.expanded {
        color: hsl(0, 0%, 63%);
    }
    .nav-menu-coll {
        transform: translate3d(0, -100px, 0);
        transition: all 0.2s cubic-bezier(0, .52, 0, 1);
    }
    .nav-menu-coll.expanded {
        transform: translate3d(0, 0, 0);
        transition: all 0.2s cubic-bezier(0, .52, 0, 1);
    }

    .navbar-brand {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 8;
    }
}