
.navbar-container {
    position: absolute;
    height: 5em;
    width: 100%;
    background-color: transparent;
    font-family: 'League Spartan', sans-serif;;
}
.navbar-sub {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    color: white;
}

.navbar-brand {
    display: flex;
    width: 5em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
}
.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}
.nav-menu-items {
    display: flex;
    width: 20em;
    justify-content: space-evenly;
}
.nav-menu-items a {
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}
.nav-menu-items a:hover {
    border-color: white;
}