.gallery-container {
    display: flex;
    flex-flow: row wrap;
    height: 65%;
    min-height: 600px;
    width: 100%;
    font-family: 'League Spartan', sans-serif;
}
.gallery-images {
    max-height: 100%;
    width: 60%;
}
.gallery-images img {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.gallery-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    max-height: 100%;
    width: 40%;
    position: relative;
    background-color: white;
    font-family: 'League Spartan', sans-serif;
}
.gallery-text h1 {
    font-size: 3em;
    text-align: left;
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
    background-color: white;
    line-height: 1em;
}
.gallery-text p {
    color: hsl(0, 0%, 63%);
    font-size: 1.00em;
    text-align: left;
    letter-spacing: 0.05em;
    line-height: 1.25em;
    margin-left: 15%;
    margin-right: 15%;
}
.gallery-text a {    
    color: black;
    font-weight: 600;
    letter-spacing: 0.5em;
    font-size: 1.25em;
    margin-top: 0.5em;
    margin-left: 15%;
    margin-right: 15%;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.gallery-text a:hover {
    filter: invert(37%);
}


.gallery-buttons {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    left: 0;
    bottom: 0;
}
.gallery-buttons button {
    background-color: black;
    color: white;
    height: 7em;
    width: 7em;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.gallery-buttons button:hover {
    background-color: hsl(0, 0%, 27%);
}

#left-arrow {
    font-size: 3em;
}
#right-arrow {
    font-size: 3em;
}