body, html {
  height: 100vh;
  width: 100vw;
}

:root {
  --doc-height: 100%;
 }

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.fixed-pos {
  position: fixed;
}



@media (max-width: 961px) {
  .App {
    height: auto;
  }
}